body,
html {
  background-color: #1f2937;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1f2937;
  color: white;
  padding-right: 100px;
  padding-left: 100px;
}

* {
  box-sizing: border-box;
  
}

/* ~~ Top Navigation Bar ~~ */

header {
  color: #ffffff;
}

header div.logo {
  font-size: 25px;
  font-weight: bold;
}

header div a img {
  max-height: 55px;
  float: left;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

header nav ul .right {
  float: right;
}

header nav ul li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
  border-right: 1px solid rgb(29, 27, 27);
}

li a:hover:not(.active) {
  background-color: #2f2f2f;
}

.active {
  background-color: #04aa6d;
}

/* Section one */

.section-one {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.section-one .textbox {
  clear: both;
  padding-left: 10px;
  padding-right: 10px;
}

.section-one div .bold {
  font-size: 40px;
  font-weight: bolder;
}

.section-one .message {
  font-size: 16px;
}

.section-one div button {
  background-color: #3882f6;
  border: 1px solid #3882f6;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.section-one .img-left {
  min-width: 50%;
  padding-top: 50px;
  height: auto;

  padding-left: 10px;
  padding-right: 10px;
}

.section-one .img-left img {
  margin-right: auto;
  margin-left: auto;
  min-width: 60%;
  height: auto;
}

/*Section*/
.section-2 {
  background-color: #848f8b;
  padding: 40px;
}
.section-2 h2 {
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.section-2 .section-2-box {
  align-items: center;
  display: flex;
  justify-content: center;
}
.section-2 .section-2-box .box {
  width: 200px;
  margin: 15px;
}
.section-2 .section-2-box .box p {
  color: black;
  font-size: 16px;
  text-align: left;
  padding: 2px;
}

.section-2 .section-2-box .box img {
  width: 100%;
}

.section-3 {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 50px;
  background-color: #525252;

}

.section-3 .text {
  color: rgb(255, 255, 255);
  text-align: ce;
  text-justify: newspaper;
  font-style: italic;
  font-size: 20px;
}

.section-3 .quote {
  color: rgb(255, 255, 255);
  text-align: right;
  font-style: oblique;
  padding-right: 100px;
  font-size: 20px;
}

.section-4 {
  background-color: rgb(42, 42, 41);
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
  overflow: hidden;
}

.section-4 .information {
  text-align: right;
  width: 45%;
  float: left;
}
.section-4 .information .call{
  font-size: 25px;
}
.section-4 .sign {
  float: left;
  width: 45%;
  text-align: left;
  padding-left: 16px;
  padding-top: 30px;
}
.section-4 button {
  background-color: #3882f6;
  border: 1px solid #3882f6;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

footer {
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: aliceblue;
  padding: 10px;
}

/* For mobile phones: */
[class*="section-one"] {
  width: 100%;
}

/*For small screen*/
@media screen and (max-width: 400px) {
  body {
    margin: 0;
    padding: 0;
    max-width: 100%;
  }

  header {
    overflow: hidden;
    background-color: #1f2937;
    color: #ffffff;
  }

  header nav ul .right,
  header nav ul {
    text-align: center;
    float: none;
    background-color: #1f2937;
  }

  header div a img {
    display: none;
  }

  header nav ul li a {
    color: white;
  }

  .section-one {
    display: block;
  }
  .section-one .textbox {
    text-align: center;
  }

  .section-one div .bold {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
  }

  .section-one .message {
    font-size: 16px;
  }

  .section-one div button {
    background-color: #3882f6;
    border: 1px solid #3882f6;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }

  .section-one .img-left {
    padding-top: 50px;
    height: auto;
  }

  .section-one .img-left img {
    margin-right: auto;
    margin-left: auto;
    min-width: 100%;
    height: auto;
  }

  .section-4 {
    background-color: #d4d4d4;
    color: #1f2937;
    display: block;
  }

  footer {
    background-color: #10e222;
    text-align: center;
    color: white;
  }
}

/*For small screen*/
@media screen and (max-width: 700px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    text-align: center;
  }

  header {
    overflow: hidden;
    background-color: #1f2937;
    color: #ffffff;
    width: 100%;
  }

  header nav ul .right,
  header nav ul {
    text-align: center;
    float: none;
    background-color: #1f2937;
    width: 100%;
  }

  header div a img {
    display: none;
  }

  header nav ul li a {
    color: white;
  }

  .section-one {
    display: block;
    width: 100%;
  }
  .section-one .textbox {
    text-align: center;
  }

  .section-one div .bold {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
  }

  .section-one .message {
    font-size: 16px;
  }

  .section-one div button {
    background-color: #3882f6;
    border: 1px solid #3882f6;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }

  .section-one .img-left {
    padding-top: 50px;
    height: auto;
  }

  .section-one .img-left img {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: auto;
  }

  .section-2 {
    background-color: #f2f2f3;
    color: rgb(0, 0, 0);
  }

  .section-2 .section-2-box {
    align-items: center;
    display: block;
    justify-content: center;
  }
  .section-2 .section-2-box .box {
    width: 300px;
    position:initial  
  }
  .section-2 .section-2-box .box p {
    color: black;
    font-size: 16px;
    text-align: left;
    padding: 10px;
  }
  
  .section-2 .section-2-box .box img {
    width: 100%;
  }
  
  .section-4 {
    background-color: #d4d4d4;
    color: #1f2937;
    display: block;
    width: 100%;
    text-align: center;
  }

  footer {
    background-color: #b11a1a;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 100%;
  }
}
